[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.0"
djangorestframework = "~=3.15.2"
django-cors-headers = "~=4.3.0"

[dev-packages]
pytest = "~=7.4.0"
pytest-django = "~=4.5.2"
black = "~=23.7.0"
isort = "~=5.12.0"
flake8 = "~=6.1.0"
mypy = "~=1.5.1"

[requires]
python_version = "3.12"

[scripts]
server = "python manage.py runserver"
test = "pytest"
migrate = "python manage.py migrate"
makemigrations = "python manage.py makemigrations"
createsuperuser = "python manage.py createsuperuser"
shell = "python manage.py shell"
lint = "flake8 ."
format = "black ."
sort_imports = "isort ."
typecheck = "mypy ."
